.container {
  margin-top: 32px;
}

.normalText {
  font-size: 26px;
  font-weight: 200;
}

.largeText {
  font-size: 32px;
  font-weight: 800;
  margin-left: 12px;
  color: blue;
  text-decoration: underline;
  cursor: text;
}

.largeTextInput {
  font-size: 32px;
  font-weight: 800;
  margin-left: 12px;
  cursor: text;
  background-color: transparent;
  color: blue;
  border: none;
  outline: none;
}

.largeTextInput::placeholder {
  color: lightgrey;
}

.dropdown {
  margin-left: 250px;
  max-width: 250px;
  max-height: 200px; /* Optional: limit the height of the dropdown */
  overflow-y: auto; /* Optional: add scroll if the content exceeds max-height */
  z-index: 1000; /* Ensure the dropdown is above other elements */
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0; /* Highlight the item on hover */
}

.eventList {
}

.mapContainer {
}
